
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/css/post-request.css">
    <title>user page</title>
  </head>

  <body>
    <div class="post-request">
      <input type="text" class="post-request__interface post-request__interface_input-title">
      <button class="post-request__interface post-request__interface_submit">リクエスト</button>
      <textarea class="post-request__interface post-request__interface_input-text"></textarea>
      <button class="post-request__interface post-request__interface_submit post-request__interface_submit_bottom">リクエスト</button>
  </body>
</html>
